@import 'src/scss/mixins';

.part {
  @include componentBase;
  align-items: center;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

  &__input {
    max-width: 350px;
  }

  &__info {
    margin: 15px 0;
  }

  &__button {
    max-width: 250px;
  }
}
