<div class="part">
  <div class="part__input input-group input-group-md">
    <input
      [formControl]="partNum"
      [ngClass]="{
        'is-valid': partNum.valid,
        'is-invalid': !partNum.valid }"
      type="text"
      class="form-control"
      placeholder="Part number"
      aria-label="Part number"
      aria-describedby="button-addon2">
  </div>
  <ng-template [ngIf]="partNum.valid">
    <div class="part__info">
      <h4 class="text-center">
        {{ part }}
      </h4>
      <h4 class="text-center">
        {{ group }}
      </h4>
    </div>
    <div class="part__buttonGroup">
      <button
        *ngFor="let site of sites"
        type="button"
        class="part__button btn btn-md btn-block"
        [ngClass]="site.buttonClass"
        (click)="searchSite(site.searchUrl)"
        [disabled]="!partNum.valid">
        {{ site.name }}
      </button>
    </div>
  </ng-template>
  <app-footer class="part__footer"></app-footer>
</div>
