@import 'src/scss/mixins';

.weather {
  @include componentBase;
  background-color: #060606;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 8px;
  text-align: center;

  &__locationName {
    text-align: center;
  }

  &__currentTemp {
    margin-left: 20px;
    vertical-align: middle;
  }

  &__today {
    margin: 0 auto;
    max-width: 400px;
  }

  &__table {
    margin: 0 auto 1.2rem;
    max-width: 600px;
    scrollbar-width: none;  /* Firefox */
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    &--topBorder {
      border-top: 1px solid rgb(40,40,40);
    }

    &--48hours {
      overflow-x: auto;
    }
  }
}
