@import 'src/scss/mixins';

$backgroundColor: rgb(255,0,0);
$backgroundGradient: linear-gradient(142deg, rgba(255,0,0,1) 0%, rgba(255,194,0,1) 100%);
$textBackgroundColor: rgba(0,0,0,0.15);
$textColor: rgba(0,0,0,1);
$selectionColor: rgba(151, 0, 0, 0.8);

.lucas {
  @include componentBase;
  align-items: center;
  background: $backgroundColor;
  background: $backgroundGradient;
  display: flex;
  justify-content: center;
  position: relative;

  &__info {
    background: $textBackgroundColor;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px;
    text-align: center;
    z-index: 2;

    & *::selection {
      background: $selectionColor;
    }
  }

  &__letter {
    color: $textColor;
    font-family: sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
  }
  
  &__notTriggered {
    opacity: 0;
  }
  
  &__triggered {
    animation: fadeIn 0.5s ease;
  }

  &__buttons {
    margin: 15px 0 5px;
  }

  &__canvas {
    bottom: 0;
    left: 0;
    opacity: 0.420;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
